<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ATMMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MountainMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NatureMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PicnicMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SegmentMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SingleTrailMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ToiletMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TrafficMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>224F2A661DDBB67900B22D2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>224F2AA51DDBBB7600B22D2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227C05D11D3180110033E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227C05E81D3180120033E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227C05F31D3180120033E6BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>229563AC1E6C1BB30045E3BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A42B7E1DE39AAE00F81767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EAB6651E6B701900FC3EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A24F8B81D95D95B0011485B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF49F611D985D60001A8034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
